<%= simple_form_for(@volunteer) do |f| %>

	<% if @volunteer.errors.any? %>
		<h2>
			<%= pluralize(@volunteer.errors.count, "error") %> prohibted you from continuing. Please try again.
		</h2>
		<ul>
			<% @volunteers.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
		</ul>
	<% end %>

	<%= f.input :name, placeholder: 'First Name Here' %><br>

	<%= f.input :surname, placeholder: 'Last Name Here' %><br>

	<%= f.input :email, placeholder: 'Your email' %>

	<%= f.submit 'Continue' %>

<% end %>